.wraper {
  width: 387px;
  height: 323px;
  box-shadow: 0px 2px 23px #ededed;
  border-radius: 6px;
  position: relative;
  box-sizing: border-box;
  padding: 28px 35px 40px;
  text-align: left;
}

.taskListName {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.59375px;
  color: #8c96ab;
  padding-bottom: 18px;
}

.task {
  text-align: left;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.taskName {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.59375px;
  color: #a2abbf;
}

.taskCheckbox {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  background: #f2f3f3;
  border-radius: 2px;
  border: none;
  width: 16px;
  height: 16px;
  padding: 9px;
  margin: 0 20px 0 0;
  display: inline-block;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: none;
}

.taskCheckbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 1px;
  left: 4px;
  color: green;
}

.input {
  width: 175px;
  position: relative;
  display: inline-block;
  background: #ffffff;
  border: 1px solid #d8dce6;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  padding: 6px 14px 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #bfc4cc;
  margin-left: 38px;
  outline: none;
}
